<% const currentDate = new Date(); %>
<% const formattedCurrentDate = currentDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric' }); %>
<% const previousDate = new Date(currentDate); %>
<% previousDate.setDate(currentDate.getDate() - 1) %>
<% const formattedPreviousDate = previousDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric' }); %>

<% if (locals.findP) { %>
  
  <div class="container">
    <% findP.forEach(function(item, index) { %>
      <% const dateCheck = item.Fetch_DT.toLocaleDateString('en-US', { month: 'short', day: 'numeric' }) %>
      
      <% if (index % 3 === 0) { %>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% } %>
          
          <% if (dateCheck == formattedCurrentDate || dateCheck == formattedPreviousDate) { %>
            <div class="col">
              <div class="card h-100">
                  <img src="<%= item.ImageURL %>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title" style="color: red;"><%= item.Job_Role %></h5>
                    <p class="card-text" style="font-weight: 900;"><%= item.Company_Name %></p>
                    <p class="card-text" style="font-weight: bold;"><%= item.Job_location %></p>
                    <% if (item.Avg_Sal_asper_role_and_comp.length > 0) { %>
                      <p class="card-text" style="font-weight: 500;">Salary : <span style="text-decoration: underline;"><%= item.Avg_Sal_asper_role_and_comp %></span></p>
                      <% } %>
                      <% if (item.ownershipType.length > 0) { %>
                        <p class="card-text" style="font-weight: 500;">Ownership Type : <span style="text-decoration: underline;"><%= item.ownershipType %></span></p>
                        <% } %>
                        <p class="card-text"><%= item.JobDesc.substr(0, 100) %><a id="see-more" style="text-decoration: none;">...See more</a></p>
                        <a href="<%= item.Job_link %>">Apply</a>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last Updated: <%= dateCheck %></small>
                      </div>
                    </div>




                    
        </div>
      <% } %>

      <% if ((index + 1) % 3 === 0 || index === findP.length - 1) { %>
      </div>
      <% } %>

    <% }) %>

  </div>
<% } else { %>
  <p>No Data</p>
<% } %>


